<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	consoleTrasferimentoOggetti</display-name>
<servlet>
		<description>
		</description>
		<display-name>
		GetRequestsAjax</display-name>
		<servlet-name>GetRequestsAjax</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.GetRequestsAjax</servlet-class>
	</servlet>	
	<servlet>
		<description>
		</description>
		<display-name>
		GetRequests</display-name>
		<servlet-name>GetRequests</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.GetRequests</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DownloadTransferObject</display-name>
		<servlet-name>DownloadTransferObject</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.DownloadTransferObject</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadEmail</display-name>
		<servlet-name>DownloadEmail</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.DownloadEmail</servlet-class>
	</servlet>
		
	<servlet>
		<description>
		</description>
		<display-name>
		InfoApplication</display-name>
		<servlet-name>InfoApplication</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.InfoApplication</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MailDispatcher</display-name>
		<servlet-name>MailDispatcher</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.MailDispatcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RunUpdateAppl</display-name>
		<servlet-name>RunUpdateAppl</servlet-name>
		<servlet-class>it.clp.consoleTrasferimentoOggetti.RunUpdateAppl</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>GetRequests</servlet-name>
		<url-pattern>/GetRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadTransferObject</servlet-name>
		<url-pattern>
		/DownloadTransferObject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadEmail</servlet-name>
		<url-pattern>/DownloadEmailContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoApplication</servlet-name>
		<url-pattern>
		/InfoApplication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRequestsAjax</servlet-name>
		<url-pattern>GetTransferRequest.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailDispatcher</servlet-name>
		<url-pattern>
		/MailDispatcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RunUpdateAppl</servlet-name>
		<url-pattern>RunUpdate.do</url-pattern>
	</servlet-mapping>		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/MySqlRedHat</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
		</resource-ref>
	</web-app>