body {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}
/* ******* Heading *****/

#mainheader
{
	margin: auto;
	width: 100%;
	display: block;
	height: 100px;
	margin-bottom: 3em;
	
}

#logobox
{
	position: relative;
	left: 10%;
	width: 250px;
	height: 60px;	
}

#logobox a
{
	position:relative;
	display:block;
	width: 250px;
	height: 60px;
	visibility: hidden;
	
}

#logobox a span
{
   display:block;
   position:absolute;
   left:0;
   top:0;
   width:100%;
   height:100%;
   visibility: visible;
   background: url("images/logo_was.png") no-repeat left top;
   z-index:100; /* Places <span> on top of <a> text */
}

.center
{
	text-align: center;
}

.center a h1
{
	text-align: center;
}

h1.open_mail
{
        width: 100%; height: 16px;
        margin:0;padding:0;
        background: url("images/mail_icon_16x16.png") no-repeat top center;
        text-indent: -9999px;
        text-align:center;
		
}

h1.detail_request
{
        /*width: 16px; height: 16px;*/
        margin:0;padding:0;
        background: url("images/detail_icon.gif") no-repeat top;
        text-indent: -9999px;
		
}


h1.deploy_request
{
        /*width: 16px; height: 16px;*/
        margin:0;padding:0;
        background: url("images/gear_icon_16x16.png") no-repeat top;
        text-indent: -9999px;
		
}

h1.view_trasf_form
{
        /*width: 16px; height: 16px;*/
        margin:0;padding:0;
        background: url("images/excel_icon_16x16.png") no-repeat top;
        text-indent: -9999px;
		
}

h1.checked
{
        /*width: 16px; height: 16px;*/
        margin:0;padding:0;
        background: url("images/checked_green_icon.gif") no-repeat top;
        text-indent: -9999px;
}

h1.un-checked
{
        margin:0;padding:0;
        text-indent: -9999px;
}

a.view_application, a.view_application:visited
{
	text-decoration:none;
	border-bottom: 1px dashed #000;
	color: #333;
	font-size
}

a.view_application:hover
{
	text-decoration:none;
	border-bottom: 1px dashed #000;
	color: #111;
	font-weight: bold;
	font-size: 90%; 
}

/* ******* Pagina di informazione sulle applicazioni ***** */
.info_appl_head_proj
{
	font-size: 15px;
	font-weight: bold;
	color:  #fff;
}
.info_appl_head
{
 margin: auto;
 margin-top: 10px;
 cursor: default !important; 
 width: 99% !important;
 }

 /* ******* Pagina con il dettaglio sulla richiesta trasferimento ******** */
 
 .form_update
 {
 	margin: 10px;
 	text-align: center;
 }
 
 .form_update input.submit
 {
 	width: 100%;
 }
 

#form_container, #update_operation
 {
	margin-top: 20px; 
 }
 
 #update_operation
 {
 	/*height: 150px;*/
 }
 
 a.deploy_link:link, a.deploy_link:visited, a.deploy_link:hover
 {
	width:900px;
	display: inline-block;
 	text-decoration:none;
	border-bottom:1px dotted #999;
	-ms-word-wrap: break-word;
	word-wrap: break-word;	
}

#shell_container 
{
	width: 100%;
	height: 300px;
	overflow: auto;
}
 
.mail_link:link, .mail_link:active, .module_link:link, .module_link:active
{
	text-decoration: none;
	font-size: .9em;
}

table.no-border
{
	border-collapse: collapse;
}

table.no-border, table.no-border td
{
	border: 0px;
}


/* ***** Sezione per il dettaglio della richiesta di trasferimento *****/
#container_mail_detail_requests
{
	width: 950px;
	padding:0;
	margin:auto;	
}

#container_mail_detail_requests #head
{
	padding:0;
	margin-bottom: 10px;	
}

#container_mail_detail_requests #head h2
{
	padding-left: 10px;
	margin:0;
}

#container_mail_detail_requests #head em
{
	padding-left: 10px;
	font-size: 10px;
	margin:0;
}

#command_panel 
{

}
 /*
#scrollbar1 { height:100%; width: 100%; clear: both; margin:0 0 10px; }
#scrollbar1 .scrollbar { width: 100%;}
#scrollbar1 .viewport {width: 95%; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview {   list-style: none; position: absolute; left: 0; top: 0; padding: 15px;}
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }*/